//Colors
$isabeline: #f0eeef;
$eggplant: #5D4954;
$darkpurple: #2f2235;
$x11grey: #c3b7b9;
$rocketmetallic: #897a82;

// Body
$body-bg: $isabeline;
$line-height-base: 1.6;


// Typography
$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
$font-family-sans-serif: "Raleway", sans-serif;
$font-OpSans: 'Open Sans Condensed', sans-serif;
$font-Roboto: 'Roboto', sans-serif;
$font-size-base: 16px;

